

/*=====================
   Carousel Mods       
  =====================*/

.carousel{
  margin-top: 50px;
}


/*=====================
   Navbar Mods         
  =====================*/

.navbar{
  background-color:#ffffff;
}

.navbar-nav{
  margin-top: 40px;
}	
 
/* The navbar becomes detached from the top, so we round the corners */
.navbar-wrapper .navbar {
  border-radius: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #CE1126;
  background-color: #ffffff;
}

.nav > li > a{
 border-right: 1px solid #000;
 padding-top: 0px;
 padding-bottom: 0px;
}


/*======================
  Page Featurette Mods 
  ======================*/

.featurette-page-heading {
    margin-top: 140px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
  }

@media (min-width: 768px) {
  .featurette-page-heading {
    margin-top: 130px;
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .featurette-page-heading {
    margin-top: 120px;
  }
}


/*======================
  Page Footer 
  ======================*/
.page-footer > p > small > a{
  color: #777;
}
.page-footer > p > small > a:hover,
.page-footer > p > small > a:focus{
   color: #CE1126; 
}